@page
@model copilotdemo.Pages.IndexModel
@{
    ViewData["Title"] = "HOME PAGE";
}
<!-- All phrases must be written in English -->
<div class="text-center">
    <h1 class="display-4">WELCOME</h1>

    <p><strong>LEARN MORE ABOUT <a href="https://learn.microsoft.com/aspnet/core">BUILDING WEB APPS WITH ASP.NET CORE</a></strong></p>
</div>
